---
title: Reprogramming Biology - Biocompute Lab
section: about-reprogramming
---
{% include header.html %}
<main>

  <div class="container col-xxl-8 px-4 py-1">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="{{baseurl}}/images/about/reprogramming-web.jpg" class="d-block mx-lg-auto img-fluid" width="450" height="300" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3 pagetitle">Reprogamming biology</h1>
        <p class="lead">Biology offers many capabilities that could address the global challenges we face as a society. The Biocompute Lab is attempting to understand how to effectively reprogram biology to co-opt and install new functionalities into living systems across scales; from networks of interacting molecules, to cellular collectives, and even entire ecosystems.</p>
      </div>
    </div>
  </div>

  <div class="container px-4 py-1">
      <blockquote class="blockquote">
        <p>The only way to learn a new programming language is by writing programs in it.</p> &#8212; Dennis Ritchie
      </blockquote>
  </div>

  <div class="container px-4 py-5">

    <h2 class="pb-2 border-bottom">Core strands</h2>
    <div class="row px-3 py-4 row-cols-2 g-4">

      <div class="col bclcol1">
        <h4>Adaptive genetic circuits</h4>
        <p>In the words of Darwin: "It is not the most intellectual of the species that survives; it is not the strongest that survives; but the species that survives is the one that is able to adapt to and to adjust". With this in mind, the Biocompute Lab is developing new types of genetic part and circuitry whose function can adapt as needed over time. This allows them to function robustly and ensure their functions are maintained across diverse and changeable environments.</p>
      </div>

      <div class="col bclcol2">
        <h4>Data-centric biological design</h4>
        <p>Modern experimental methods offer the chance to collect vast amounts of information that provide a window into the inner workings of cells. To make sense of these rich, multi-dimensional datasets, we are employing machine learning and artificial intelligence approaches to unravel the complex interactions and rules that guide the behavior of biological systems. Using this information we aim to provide actionable insight to improve biological design workflows.</p>
      </div>

      <div class="col bclcol3">
        <h4>Unconventional computing</h4>
        <p>Biology often processes information and "computes" in very different ways to the typical electronic computers we commonly use. The Biocompute Lab is interesting in exploring this diversity in computational architecture for inspiration into new ways to build computers that function requiring less power, able to function in harsh environments, or with the potential to outperform those in use today. We value the weirder and the wackier.</p>
      </div>

      <div class="col bclcol4">
        <h4>Biodesign across scales</h4>
        <p>From collections of molecules within a cell to the planetary ecosystem, biology functions at many length and time scales. Understanding how functions emerge scales is challenging, but essential if we are to ever figure out how best to reprogram biology. The Biocompute Lab is tackling this question using high-performance computing and advanced multi-agent simulation to guide experiments exploring the key ingredients biodesign across scales.</p>
      </div>

    </div>

    <h2 class="pb-2 py-5 border-bottom">Selected publications</h2>
    <div class="row">
    {% for pub in site.data.publications %}
      {% if pub.key_areas contains "reprogramming" %}
        <div class=row>
          <p class="publication"><a href="{{pub.url}}"><b>{{pub.title}}</b></a><br>
          {{ pub.authors | join: ", " }}<br>
          {% if pub.status == "online" %}<i>{{pub.journal}}</i>, {{pub.year}}. <i>(online)</i>
          {% elsif pub.status == "accepted" %}<i>{{pub.journal}}</i>, {{pub.year}}. <i>(accepted)</i>
          {% elsif pub.status == "in-press" %}<i>{{pub.journal}}</i>, {{pub.year}}. <i>(in press)</i>
          {% else %}<i>{{pub.journal}}</i> {{pub.volume}}, {{pub.pages}}, {{pub.year}}.
          {% endif %}
          {% if pub.doi == "" %}
          {% else %}<br><span style="filter: invert(90%)" class="altmetric-embed" data-hide-no-mentions="true" data-doi="{{pub.doi}}"></span>
          {% endif %}
          </p>
        </div>
      {% endif %}
    {% endfor %}
    </div>

    <h2 class="pb-2 py-5 border-bottom">Key people</h2>
    <div class="row py-2 row-cols-5 g-3">
      {% for person in site.team %}
        {% if person.role == "member" and person.key_areas contains "reprogramming" %}
          <div class="col">
            <div class="card">
              <img width="100%" src="{{baseurl}}/images/team/{{person.image}}"/>
              <div class="card-body">
                <a class="card-name" href="{{person.url}}">{{person.title}}</a>
                <p class="card-position">{{person.position}}</p>
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>

  </div>

</main>
{% include footer.html %}