---
title: Engineering (with) Evolution - Biocompute Lab
section: about-evolution
---
{% include header.html %}

    <main>

      <div class="container col-xxl-8 px-4 py-1">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
          <div class="col-10 col-sm-8 col-lg-6">
            <img src="{{baseurl}}/images/about/evolution-web.png" class="d-block mx-lg-auto img-fluid" width="450" height="30" loading="lazy">
          </div>
          <div class="col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3 pagetitle">Engineering (with) evolution</h1>
            <p class="lead">Evolution is the most powerful creative force on this planet. The Biocompute Lab is exploring ways to harness and integrate evolution into new biological design workflows, as well as searching for avenues to engineer evolutionary processes themselves to create a new generation of truly self-adaptive engineered living system.</p>
          </div>
        </div>
      </div>


      <div class="container px-4 py-1">
          <blockquote class="blockquote">
            <p>Thus, from the war of nature, from famine and death, the most exalted object which we are capable of conceiving, namely, the production of the higher animals, directly follows. There is grandeur in this view of life, with its several powers, having been originally breathed into a few forms or into one; and that, whilst this planet has gone cycling on according to the fixed law of gravity, from so simple a beginning endless forms most beautiful and most wonderful have been, and are being, evolved.</p> &#8212; Charles Darwin
          </blockquote>

      </div>




      <div class="container px-4 py-5">




        <h2 class="pb-2 border-bottom">Core strands</h2>
        <div class="row px-3 py-4 row-cols-2 g-4">

          <div class="col bclcol1">
            <h4>Understanding evolution</h4>
            <p>Thus, from the war of nature, from famine and death, the most exalted object which we are capable of conceiving, namely, the production of the higher animals, directly follows. There is grandeur in this view of life, with its several powers, having been originally breathed into a few forms or into one; and that, whilst this planet has gone cycling on according to the fixed law of gravity, from so simple a beginning endless forms most beautiful and most wonderful have been, and are being, evolved.</p>
          </div>

          <div class="col bclcol2">
            <h4>Evotype engineering</h4>
            <p>Thus, from the war of nature, from famine and death, the most exalted object which we are capable of conceiving, namely, the production of the higher animals, directly follows. There is grandeur in this view of life, with its several powers, having been originally breathed into a few forms or into one; and that, whilst this planet has gone cycling on according to the fixed law of gravity, from so simple a beginning endless forms most beautiful and most wonderful have been, and are being, evolved.</p>
          </div>

        </div>


        <h2 class="pb-2 py-5 border-bottom">Selected publications</h2>
        {% for pub in site.data.publications %}
          {% if pub.key_areas contains "evolution" %}
            <div class=row>
              <p class="publication"><a href="{{pub.url}}"><b>{{pub.title}}</b></a><br>
              {{ pub.authors | join: ", " }}<br>
              {% if pub.status == "online" %}<i>{{pub.journal}}</i>, {{pub.year}}. <i>(online)</i>
              {% elsif pub.status == "accepted" %}<i>{{pub.journal}}</i>, {{pub.year}}. <i>(accepted)</i>
              {% elsif pub.status == "in-press" %}<i>{{pub.journal}}</i>, {{pub.year}}. <i>(in press)</i>
              {% else %}<i>{{pub.journal}}</i> {{pub.volume}}, {{pub.pages}}, {{pub.year}}.
              {% endif %}
              </p>
            </div>
          {% endif %}
        {% endfor %}



        <h2 class="pb-2 py-5 border-bottom">Key people</h2>
        <div class="row py-2 row-cols-5 g-3">
          {% for person in site.team %}
            {% if person.role == "member" and person.key_areas contains "evolution" %}
              <div class="col">
                <div class="card">
                  <img width="100%" src="{{baseurl}}/images/team/{{person.image}}"/>
                  <div class="card-body">
                    <a class="card-name" href="{{person.url}}">{{person.title}}</a>
                    <p class="card-position">{{person.position}}</p>
                  </div>
                </div>
              </div>
            {% endif %}
          {% endfor %}
        </div>

      </div>

    </main>

{% include footer.html %}