---
title: About - Biocompute Lab
section: about
---
{% include header.html %}
{% include navigation.html %}

<div class="container">
        <!--<div class="title" style="background-image: url(./img/header_about.jpg);">-->
        <div class="title" style="background: url('{{baseurl}}/img/about/header.jpg') no-repeat bottom center transparent; background-size: 100% auto; padding-top: 40px">
            <h1 class="heading">Biology computes...</h1>
        </div>
        <div class="col-xs-12 col-sm-12 col-lg-12">
            <p>
                From individual cells deciding how to differentiate during development, to social insects intricately coordinating their actions when scavenging for food; the ability to perform complex computations and process information enables life.
            </p>
            <p>
                The Biocompute Lab explores biology from this perspective, focusing on the molecular-scale mechanisms that individual cells and groups of cells use to perform such tasks. We apply tools and methods from the field of synthetic biology to create new living systems from the ground-up. By studying these artificial systems using novel techniques we are developing that exploit next-generation sequencing, microfluidics and computational modelling, we aim to better understand the rules governing how biological parts are best pieced together to perform useful computations. Understanding the computational architecture of cells opens new ways of reprogramming cells to tackle problems spanning the sustainable production of materials to novel therapeutics. It also provides key insights into how biology controls the complex processes and structures that sustain life.
            </p>
            <p>
                The Biocompute Lab falls within <a href="http://www.bristol.ac.uk/brissynbio/">BrisSynBio</a>, a BBSRC/EPSRC Synthetic Biology Research Centre at the <a href="http://www.bristol.ac.uk">University of Bristol</a>.
            </p>
            
        </div>

          <div class="col-xs-12 col-sm-12 col-lg-12">
            <p align="center">
                <br>
                <a href="http://www.bristol.ac.uk/brissynbio/"><img width="280px" src="{{baseurl}}/img/about/brissynbio-logo.jpg"></a>
            </p>
        </div>
        
    </div>

{% include footer.html %}