---
title: Join - Biocompute Lab
section: join
---
{% include header.html %}

  <!-- BEGIN CONTENT SECTION -->
  <section class="bg-master-light p-b-40 p-t-90 sm-p-t-30 sm-p-b-30 no-overflow">
    <div class="container md-p-l-20 md-p-r-20">
      <div class="row">
        <div class="col-md-12">
          <h2>Open Positions</h2>
          <p>We currently have a number of positions to fill within the lab. Please feel free to contact us if you are interested and would like to know more. We are also happy to support external applications for funding to join the lab, if aligned to the goals of the group. In such cases, please provide an outline of how the project fits with our current research.</p>

          <div class="container bg-master-light p-l-20 p-r-20 p-t-10 p-b-10">
            <h4>Next-Generation Multi-Agent Modelling Tools</h4>
            <h5>Postdoctoral Associate</h5>
            <p>We will be advertising soon for a postdoctoral position to start a new project in the group that will develop a next-generation agent-based modelling framework. Candidates will have a strong background in computer science (or a related computational field) and proven experience using C/C++. Knowledge of OpenCL and computer graphics libraries are a bonus. Contact us for further details.</p>
          </div>

        </div>
      </div>
    </div>
  </section>
  <!-- END CONTENT SECTION -->

  <!-- BEGIN POST-DOC SECTION -->
  <section class="bg-master-light p-b-40 p-t-40 no-overflow">
    <div class="container md-p-l-20 md-p-r-20">
      <div class="row">
        <div class="col-md-6">
          <h5 class="block-title hint-text no-margin">Funding</h5>
          <h2 class="no-margin">Post-Doctoral Researchers</h2>
          <p>Postdoctoral researchers can find support from numerous schemes.  and the lab can help support applications for projects aligned </p>
        </div>
        <div class="col-md-6">
          <h4>Bristol Vice-Chancellor's Fellowships <i class="pg-arrow_right m-l-0"></i></h4>
          <p>This scheme offers an exciting opportunity for exceptional early-career researchers to advance their research careers, setup their own group at the University of Bristol. Fellowships are available across the strategic priorities of university. <a href="https://www.bristol.ac.uk/vc-fellows/">More details...</a></p>
        </div>
      </div>
    </div>
  </section>
  <!-- END POST-DOC SECTION -->

  <!-- BEGIN PHD SECTION -->
  <section class="bg-master-lighter p-b-40 p-t-40 no-overflow">
    <div class="container md-p-l-20 md-p-r-20">
      <div class="row">
        <div class="col-md-6">
          <h5 class="block-title hint-text no-margin">Funding</h5>
          <h2 class="no-margin">PhD Studentships</h2>
          <p>For students looking for PhD studentship, we recommend applying to one of the doctoral training centres based at Bristol or associated EU training networks. Any internally funded opportunities will be posted as openings above.</p>
          <p><img class="m-r-30" height="100" src="{{baseurl}}/images/join/synbiocdt_logo.png"> <img class="m-r-10" height="100" src="{{baseurl}}/images/join/mc_logo.png"></p>
        </div>
        <div class="col-md-6">
          <h4>SynBioCDT <i class="pg-arrow_right m-l-0"></i></h4>
          <p>The EPSRC and BBSRC Synthetic Biology Centre for Doctoral Training (SynBioCDT) is a 4-year doctoral programme that offers training in the new field of Synthetic Biology, the "Engineering of Biology". This centre is a collaboration between the Universities of Oxford, Bristol and Warwick. <a href="https://www.bristol.ac.uk/vc-fellows/">More details...</a></p>

          <h4>Bristol Centre for Functional Nanomaterials <i class="pg-arrow_right m-l-0"></i></h4>
          <p>The Bristol Centre for Functional Nanomaterials (BCFN) is a leading centre for doctoral training offering 4-year PhD and 1 year MSc opportunities in Functional Nanomaterials. <a href="http://www.bristol.ac.uk/physics/functional-nanomaterials/">More details...</a></p>
        </div>
      </div>
    </div>
  </section>
  <!-- END PHD SECTION -->

  <!-- BEGIN INTERNSHIP SECTION -->
  <section class="bg-master-lightest p-b-40 p-t-40 no-overflow">
    <div class="container md-p-l-20 md-p-r-20">
      <div class="row">
        <div class="col-md-6">
          <h5 class="block-title hint-text no-margin">Internships and Placements</h5>
          <h2 class="no-margin">Undergraduates</h2>
          <p>If you are an undergraduate interested in gaining some experience in engineering biology then several schemes can support summer placements in the lab. Please contact us before applying to ensure the project you have planned is suitable or to discuss other options (e.g. self-funding).</p>
        </div>
        <div class="col-md-6">
          <h4>DAAD RISE Worldwide <i class="pg-arrow_right m-l-0"></i></h4>
          <p>RISE stands for Research Internships in Science and Engineering. RISE Worldwide offers summer research internships across the world to German undergraduate students with academic training in biology, chemistry, physics, earth sciences, engineering, or a closely related field. RISE Worldwide is funded by the German Federal Ministry of Education and Research. <a href="https://www.daad.de/rise/en/">More details...</a></p>

          <h4>Biochemical Society Summer Studentships <i class="pg-arrow_right m-l-0"></i></h4>
          <p>The Biochemical Society offers grants for stipends of £200 per week for 6–8 weeks, and up to £1,600 in total, to support an undergraduate student to carry out a summer lab placement. The student does not need to be a member of the Society, but when ranking proposals preference will be given to student members. <a href="https://www.daad.de/rise/en/">More details...</a></p>
        </div>
    </div>
  </section>
  <!-- END INTERNSHIP SECTION -->

{% include footer.html %}