---
title: Join - Biocompute Lab
section: join
---
{% include header.html %}


  <!-- BEGIN CONTENT SECTION -->
  <section class="bg-master-lightest p-t-90 p-b-40 sm-p-t-30 sm-p-b-30">
    <div class="container">
      <div class="md-p-l-20 md-p-r-20 xs-no-padding">
        <h2 class="no-margin">Open Positions</h2>

      </div>
    </div>
  </section>
  <!-- END CONTENT SECTION -->

  <!-- BEGIN POST-DOC SECTION -->
  <section class="bg-master-light p-b-40 p-t-40 no-overflow">
    <div class="container md-p-l-20 md-p-r-20 xs-no-padding">
      <div class="row">
        <div class="col-md-6">
          <h5 class="block-title hint-text no-margin">Funding</h5>
          <h2 class="no-margin">Post-Doctoral Researchers</h2>
          <p> For post-docs we can offer support in applying for</p>
        </div>
        <div class="col-md-6">
          <h4>Vice-Chancellor's Fellowships <i class="pg-arrow_right m-l-0"></i></h4>
          <p>This scheme offers an exciting opportunity for exceptional early-career researchers to advance their research careers, setup their own group. Fellowships are available across the strategic priorities of university. <a href="https://www.bristol.ac.uk/vc-fellows/">More details...</a></p>
        </div>
      </div>
      </div>
    </div>
  </section>
  <!-- END POST-DOC SECTION -->

  <!-- BEGIN PHD SECTION -->
  <section class="bg-master-lighter p-b-40 p-t-40 no-overflow">
    <div class="container md-p-l-20 md-p-r-20 xs-no-padding">
      <div class="row">
        <div class="col-md-6">
          <h5 class="block-title hint-text no-margin">Funding</h5>
          <h2 class="no-margin">PhD Studentships</h2>
          <p> For post-docs we can offer support in applying for</p>
          <p><img class="m-r-10" height="80" src="{{baseurl}}/images/join/synbiocdt_logo.png"> <img height="80" src="{{baseurl}}/images/join/fp7_logo"></p>
        </div>
        <div class="col-md-6">
          <h4>SynBioCDT <i class="pg-arrow_right m-l-0"></i></h4>
          <p>This scheme offers an exciting opportunity for exceptional early-career researchers to advance their research careers, setup their own group. Fellowships are available across the strategic priorities of university. <a href="https://www.bristol.ac.uk/vc-fellows/">More details...</a></p>
        </div>
      </div>
      </div>
    </div>
  </section>
  <!-- END PHD SECTION -->

  <!-- BEGIN POST-DOC SECTION -->
  <section class="bg-master-lightest p-b-40 p-t-40 no-overflow">
    <div class="container md-p-l-20 md-p-r-20 xs-no-padding">
      <div class="row">
        <div class="col-md-6">
          <h5 class="block-title hint-text no-margin">Internships and Placements</h5>
          <h2 class="no-margin">Undergraduates</h2>
          <p> For post-docs we can offer support in applying for</p>
        </div>
        <div class="col-md-6">
          <h4>Vice-Chancellor's Fellowships <i class="pg-arrow_right m-l-0"></i></h4>
          <p>This scheme offers an exciting opportunity for exceptional early-career researchers to advance their research careers, setup their own group. Fellowships are available across the strategic priorities of university. <a href="https://www.bristol.ac.uk/vc-fellows/">More details...</a></p>
        </div>
      </div>
      </div>
    </div>
  </section>
  <!-- END CONTENT SECTION -->

{% include footer.html %}