title: Join - Biocompute Lab
section: join
---
{% include header.html %}
  
  <div class="page-wrappers">

    <!-- BEGIN CONTENT SECTION -->
    <section class="bg-master-lightest p-b-40 p-t-40 no-overflow">
      <div class="container">
        <div class="md-p-l-20 md-p-r-20 xs-no-padding">
          <h5 class="block-title hint-text no-margin">Open Positions</h5>

        </div>
      </div>
    </section>
    <!-- END CONTENT SECTION -->

    <!-- BEGIN CONTENT SECTION -->
    <section class="bg-master-light p-b-40 p-t-40 no-overflow">
      <div class="container">
        <div class="md-p-l-20 md-p-r-20 xs-no-padding">
          <h5 class="block-title hint-text no-margin">Post Doctoral Researchers</h5>

        </div>
      </div>
    </section>
    <!-- END CONTENT SECTION -->

    <!-- BEGIN CONTENT SECTION -->
    <section class="bg-master-lighter p-b-40 p-t-40 no-overflow">
      <div class="container">
        <div class="md-p-l-20 md-p-r-20 xs-no-padding">
          <h5 class="block-title hint-text no-margin">PhD Studentships</h5>

        </div>
      </div>
    </section>
    <!-- END CONTENT SECTION -->

    <!-- BEGIN CONTENT SECTION -->
    <section class="bg-master-lightest p-b-40 p-t-40 no-overflow">
      <div class="container">
        <div class="md-p-l-20 md-p-r-20 xs-no-padding">
          <h5 class="block-title hint-text no-margin">Undergraduates</h5>

        </div>
      </div>
    </section>
    <!-- END CONTENT SECTION -->

  </div>
    
{% include footer.html %}