---
title: News - Biocompute Lab
section: news
---
{% include header.html %}
{% include navigation.html %}

<div class="no-header"></div>
    <div class="container"> 

      {% for post in site.posts %}

      <h3><a href="post.url">{{ post.title }}</a></h3>
      <p><b>{{ post.date | date: '%B %d, %Y' }}</b></p>
      <p>{{ post.description }}</p>

      <div class="clearfix visible-sm-block visible-md-block visible-lg-block"></div>

      {% endfor %}

      <br>
    </div>
  </div>
</div>

{% include footer.html %}