---
title: People - Biocompute Lab
section: people
---
{% include header.html %}
{% include navigation.html %}

<div class="no-header"></div>
    <div class="container">

      <div class="col-xs-12 col-sm-12 col-lg-12">
      <h2 style="margin-top: 30px" class="year">2017 Group Photo</h2>
      </div> 

      <div class="col-xs-12 col-sm-12 col-lg-12">
      <img width=100% src='/images/team/2017-groupshot.jpg'>
      </div>

      <div class="col-xs-12 col-sm-12 col-lg-12">
      <h2 style="margin-top: 30px" class="year">Group Leader</h2>
      </div> 

      {% for person in site.team %}
      {% if person.role == "head" %}
          <div class="col-xs-12 col-sm-6 col-lg-6">
          <div class="picture-title"  style="background: url('/images/team/{{person.image}}') no-repeat center transparent; background-size: 100% auto;">
          <h2 class="title">{{person.title}}</h2>
          </div>
          <p class="person_title">{{person.position}}</p>
          <p class="person_email"><a href="mailto:{{person.email}}">{{person.email}}</a></p>
          <p class="person_edu">{{person.education | join: "<br>"}}
          <p class="person_desc">
          {{person.description}} <a href="{{person.url}}">More info...</a>
          </p>
          </div>
      {% endif %}
      {% endfor %}

      <div class="clearfix visible-sm-block visible-md-block visible-lg-block"></div>

      <div class="col-xs-12 col-sm-12 col-lg-12">
      <h2 style="margin-top: 30px" class="year">Current Members</h2>
      </div> 

      {% assign num = 1 %}
      {% for person in site.team %}
      {% if person.role == "member" %}
          <div class="col-xs-12 col-sm-6 col-lg-6">
 
          <div class="picture-title"  style="background: url('/images/team/{{person.image}}') no-repeat center transparent; background-size: 100% auto;">
          <h2 class="title">{{person.title}}</h2>
          </div>
          <p class="person_title">{{person.position}}</p>
          <p class="person_email"><a href="mailto:{{person.email}}">{{person.email}}</a></p>
          <p class="person_edu">{{person.education | join: "<br>"}}</p>
          <p class="person_desc">
          {{person.description}} <a href="{{person.url}}">More info...</a>
          </p>

          </div>
          {% if num >= 2 %} {% assign num = 0 %} <div class="clearfix visible-sm-block visible-md-block visible-lg-block"></div> 
          {% else %} {% assign num = num | plus: 1 %}
          {% endif %}
      {% endif %}
      {% endfor %}
      
      <div class="col-xs-12 col-sm-12 col-lg-12">
      <h2 style="margin-top: 30px" class="year">Alumni</h2>
      <p>
      {% for person in site.team %}
      {% if person.role == "alumni" %}
          <b>{{person.title}}</b> ({{person.leavedate}}) - {{person.position}}<br>
      {% endif %}
      {% endfor %}
      </p>
      </div>

      <br>
    </div>
  </div>
</div>

{% include footer.html %}