---
title: Publications - Biocompute Lab
section: publications
---
{% include header.html %}

<div class="row green"><div>
    <h1>Publications</h1>
</div></div>   

<div class="row dark"><div>
  <grid columns=8>
    <c span=row>
      <h2>Pre-prints</h2>
    </c>


    {% for pub in site.data.publications %}
      {% if pub.status == "pre-print" %}
        <p><a href="{{pub.preprint_url}}"><b>{{pub.title}}</b></a><br>
        {{ pub.authors | join: ", " }}<br>
        <i>{{pub.preprint_journal}}</i>, {{pub.preprint_id}}, {{pub.preprint_year}}.</p>

        <!-- Altmetric badge -->
        {% if pub.preprint_doi == "" %}</p>
        {% else %}<div class='altmetric-embed' data-hide-no-mentions='true' data-badge-popover='right' data-doi="{{pub.preprint_doi}}"></div></p>
        {% endif %}

      {% endif %}
    {% endfor %}





   </grid>
</div></div>   


<div class="row green"><div>
  <grid columns=8>
    <c span=row>
      <h2>Peer-reviewed works</h2>
    </c>
   </grid>
</div></div>

{% include footer.html %}