---
title: About - Biocompute Lab
section: team
---
{% include header.html %}


<div class="row green"><div>
  <c span=row>
    <h1>The team</h1>
  </c>

  <c span=row>
    <img src="{{baseurl}}/images/team/2019-groupshot.jpg" width=100% />
  </c>
</div></div>

<div class="row dark"><div>
  <grid columns=6>
    <c span=row>
      <h2>Principal Investigator</h2>
    </c>

    {% for person in site.team %}
      {% if person.role == "head" %}
        <c span=1-2 span-s=row class="team-entry">
          <a href="{{person.url}}">
          <img class="team-image" src="{{baseurl}}/images/team/{{person.image}}" width=100% />
          <div class="smallspace"></div>
          <span class="team-name font-style-bold">{{person.title}}</span><br>
          <span class="team-role">{{person.position}}</span>
          </a>
        </c>
      {% endif %}
    {% endfor %}

    <c class="spacer"></c>
    
    <c span=row>
      <h2>Group Members</h2>
    </c>

    {% assign startcol = 1 %}
    {% assign endcol = 2 %}
    {% for person in site.team %}
      {% if person.role == "member" %}
        <c span={{startcol}}-{{endcol}} span-s=row  class="team-entry">
          <a href="{{person.url}}">
          <img class="team-image" src="{{baseurl}}/images/team/{{person.image}}" width=100% />
          <div class="smallspace"></div>
          <span class="team-name font-style-bold white">{{person.title}}</span><br>
          <span class="team-role white">{{person.position}}</span>
          </a>
        </c>
        {% if endcol == 6 %}
          {% assign startcol = 1 %}
          {% assign endcol = 2 %}
        {% else %}
          {% assign startcol = startcol | plus:2 %}
          {% assign endcol = endcol | plus:2 %}
        {% endif %}
      {% endif %}
    {% endfor %}

</div></div>

<div class="row"><div>
  <grid columns=6>
    <c span=row>
      <h2>Group Photos</h2>
    </c>

    <c span=1-3 span-s=row>
      <a href="{{baseurl}}/images/photos/2019_group.jpg">
          <img src="{{baseurl}}/images/photos/2019_group.jpg" width=100% />
          Group Photo 2019 (Life Sciences Building, Bristol, UK)
      </a>
    </c>
    <c span=4-6 span-s=row>
      <a href="{{baseurl}}/images/photos/2019_retreat.jpg">
          <img src="{{baseurl}}/images/photos/2019_retreat.jpg" width=100% />
          Lab Retreat 2019 (Jurassic Coast, Dorset, UK)
      </a>
    </c>

    <c span=1-3 span-s=row>
      <a href="{{baseurl}}/images/photos/2019_group.jpg">
          <img src="{{baseurl}}/images/photos/2019_group.jpg" width=100% />
          Group Photo 2019 (Life Sciences Building, Bristol, UK)
      </a>
    </c>
    <c span=4-6 span-s=row>
      <a href="{{baseurl}}/images/photos/2018_retreat.jpg">
          <img src="{{baseurl}}/images/photos/2018_retreat.jpg" width=100% />
          Lab Retreat 2018 (Brecon Beacons, Wales)
      </a>
    </c>

    <c span=1-3 span-s=row>
      <a href="{{baseurl}}/images/photos/2017_christmas.jpg">
          <img src="{{baseurl}}/images/photos/2017_christmas.jpg" width=100% />
          Chirstmas Party 2017 (Portishead, UK)
      </a>
    </c>
    <c span=4-6 span-s=row>
      <a href="{{baseurl}}/images/photos/2017_group.jpg">
          <img src="{{baseurl}}/images/photos/2017_group.jpg" width=100% />
          Group Photo 2017 (Life Sciences Building, Bristol, UK)
      </a>
    </c>

    <c span=1-3 span-s=row>
      <a href="{{baseurl}}/images/photos/2017_retreat.jpg">
          <img src="{{baseurl}}/images/photos/2017_retreat.jpg" width=100% />
          Exmoor Lab Retreat 2017 (Exmoor National Park, Devon, UK)
      </a>
    </c>
    <c span=4-6 span-s=row>
      <a href="{{baseurl}}/images/photos/2016_group.jpg">
          <img src="{{baseurl}}/images/photos/2016_group.jpg" width=100% />
          BrisSynBio Lab 2016 (Life Sciences Building, Bristol, UK)
      </a>
    </c>
</div></div>

<div class="row green"><div>
    <c span=row>
      <h2>Alumni</h2>
    </c>


    <c span=row>
      <ul>

    {% assign sorted_team = (site.team | sort: 'leaveyear') | reverse %}
    {% for person in sorted_team %}
      {% if person.role == "alumni" %}
        <li>
          <a href="{{person.url}}"><b>{{person.title}}</b></a> ({{person.leaveyear}}) - Was: {{person.position}}. Now: TBA.
        </li>
      {% endif %}
    {% endfor %}
    </c>

  </grid>
</div></div>

{% include footer.html %}
