---
title: About - Biocompute Lab
section: team
---
{% include header.html %}


<div class="row blue"><div>
  <!-- <h1>The Inter<br>typeface family</h1> -->
  <grid columns=8>
    <c span=row>
      <h1>The team</h1>
    </c>

    <c span=row>
      <img src="{{baseurl}}/images/team/2019-groupshot.jpg" width=100% />
    </c>

    <c class="spacer"></c>

    <c span=2 span-s=row>
      <h3>Principal Investigator</h3>
    </c>
    <c span=1-2 span-s=row>
      {% for person in site.team %}
        {% if person.role == "head" %}
          <a href="{{person.url}}">
              <img src="{{baseurl}}/images/team/{{person.image}}" width=100% />
              {{person.title}}<br>
              {{person.position}}
          </a>
        {% endif %}
      {% endfor %}
    </c>
    
    <c class="spacer"></c>

    <c span=2 span-s=row>
      <h3>Group Members</h3>
    </c>
    <c span=3.. span-s=row>
      {% for person in site.team %}
        {% if person.role == "member" %}
          <a href="{{person.url}}">
              <img src="{{baseurl}}/images/team/{{person.image}}" width=100% />
              {{person.title}}<br>
              {{person.position}}
          </a>
        {% endif %}
      {% endfor %}
    </c>

    <c class="spacer"></c>

    <c span=row>
      <h3>Group Photos</h3>
    </c>
    





    <c class="spacer"></c>
    
  </grid>
</div></div>

{% include footer.html %}