---
title: Tools - Biocompute Lab
section: tools
---
{% include header.html %}
{% include navigation.html %}

<div class="no-header"></div>
<div class="container">
  <div class="col-xs-12 col-sm-12 col-lg-12">
    <div class="tools">

      <div class="col-xs-12 col-sm-12">
            <p style="padding-top: 30px">
                Information regarding key tools developed by the lab can be found in the following sections. All publicly released software is available at our <a href="https://github.com/BiocomputeLab">GitHub repository</a> and plasmid DNA is deposited at <a href="http://www.addgene.org">addgene</a>.
            </p>
        </div>

      {% for tool in site.tools %}
          <div class="col-xs-12 col-sm-6">
          <div class="picture-title" style="background-image: url(/images/tools/{{tool.image}});">
          <h2 class="title-tools">{{tool.title}}</h2>
          </div>
          <p>{{tool.content}} <a href="{{tool.repo}}">More info...</a>
          </p>
          </div>
      {% endfor %}

      <br>
    </div>
  </div>
</div>

{% include footer.html %}