<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Biocompute Lab</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{{baseurl}}/assets/css/inter.css">
    <link rel="stylesheet" href="{{baseurl}}/assets/css/base.css">
    <link rel="stylesheet" href="{{baseurl}}/assets/css/grid.css">
    <link rel="stylesheet" href="{{baseurl}}/assets/css/index.css">
    <link rel="stylesheet" href="{{baseurl}}/assets/css/index-var.css">
  </head>
  <body>

    <div class="row menu">
      <ul class="menu">
        <li class="nav-home {% if page.section == "about" %} red {% endif %}"><a href="{{baseurl}}/"><span class="gray">Bio</span>compute <span class="font-style-light">Lab</span></a></li>
        <li class="nav-projects {% if page.section == "projects" %} red {% endif %}"><a href="{{baseurl}}/projects/" >Projects</a></li>
        <li class="nav-team {% if page.section == "team" %} red {% endif %}"><a href="{{baseurl}}/team/" >Team</a></li>
        <li class="nav-publications {% if page.section == "publications" %} red {% endif %}"><a href="{{baseurl}}/publications/" >Publications</a></li>
        <li class="nav-join {% if page.section == "join" %} red {% endif %}"><a href="{{baseurl}}/join/" >Join</a></li>
        <li class="nav-contact {% if page.section == "contact" %} red {% endif %}"><a href="{{baseurl}}/contact/" >Contact</a></li>
      </ul>
    </div>


