<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Biocompute Lab</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{{baseurl}}/assets/css/inter.css">
    <link rel="stylesheet" href="{{baseurl}}/assets/css/base.css">
    <link rel="stylesheet" href="{{baseurl}}/assets/css/grid.css">
  </head>
  <body>

    <div class="row menu">
      <ul class="menu">
        <li class="nav-home"><a href="{{baseurl}}/index.html"><span class="gray">Bio</span>compute <span class="font-style-light">Lab</span></a></li>
        <li class="nav-projects {% if page.section == "projects" %} red {% endif %}"><a href="{{baseurl}}/projects.html" >Projects</a></li>
        <li class="nav-team"><a href="team.html" >Team</a></li>
        <li class="nav-publications"><a href="{{baseurl}}/publications.html" >Publications</a></li>
        <li class="nav-join"><a href="{{baseurl}}/join.html" >Join</a></li>
        <li class="nav-contact"><a href="{{baseurl}}/contact.html" >Contact</a></li>
      </ul>
    </div>

<link rel="stylesheet" href="{{baseurl}}/assets/css/index.css">
<link rel="stylesheet" href="{{baseurl}}/assets/css/index-var.css">
