{% for paper in site.data.papers %}
{% if paper.authors contains site.team[page.title].author %}
      <div class="media">
          <div class="media-left">
            {% if paper.status == "in-press" %}<img class="media-object" src="{{baseurl}}/images/publications/in-press.gif">
            {% else %}<img class="media-object" src="{{baseurl}}/images/publications/{{paper.thumbnail}}">
            {% endif %}
          </div>
          <div class="media-body">
            <h3 class="media-heading"><a href="{{paper.url}}">{{paper.title}}</a></h3>
            <p>{{ paper.authors | join: ", " }}<br>
            {% if paper.status == "in-press" %}<i>{{paper.journal}}</i>, {{paper.year}}. <i>(in press)</i></p>
            {% else %}<i>{{paper.journal}}</i> <b>{{paper.volume}}</b>, {{paper.pages}}, {{paper.year}}.</p>
            {% endif %}
          </div>
        </div>
{% endif %}
{% endfor %}