---
---
{% include header.html %}
{% include navigation.html %}

<div class="no-header"></div>
<div class="container">





        <div class="title" style="background: url('/images/team/{{page.image}}') no-repeat center center transparent; background-size: 100% auto; padding-top: 40px">
            <h1 class="heading">{{ page.title }}</h1>
        </div>
        <div class="col-xs-12 col-sm-12 col-lg-12">
            <h2>{{ page.position }}</h2>
            <br>
            <br>
            {{ content }}
        </div>






<div class="col-xs-12 col-sm-12 col-lg-12">
    <div class="publications">
      <div class="title"><h2 class="title">Papers in Lab</h2></div>

      {% for paper in site.data.papers %}
{% if paper.team contains page.title %}
      <div class="media">
          <div class="media-left">
            {% if paper.status == "in-press" %}<img class="media-object" src="{{baseurl}}/images/publications/in-press.gif">
            {% else %}<img class="media-object" src="{{baseurl}}/images/publications/{{paper.thumbnail}}">
            {% endif %}
          </div>
          <div class="media-body">
            <h3 class="media-heading"><a href="{{paper.url}}">{{paper.title}}</a></h3>
            <p>{{ paper.authors | join: ", " }}<br>
            {% if paper.status == "in-press" %}<i>{{paper.journal}}</i>, {{paper.year}}. <i>(in press)</i></p>
            {% else %}<i>{{paper.journal}}</i> <b>{{paper.volume}}</b>, {{paper.pages}}, {{paper.year}}.</p>
            {% endif %}
          </div>
        </div>
{% endif %}
{% endfor %}

      <br>
    </div>
  </div>
</div>

{% include footer.html %}