---
---
{% include header.html %}
{% include navigation.html %}

<div class="no-header"></div>
<div class="container">


        <div class="title" style="background: url('/images/team/{{page.image}}') no-repeat center center transparent; background-size: 100% auto; padding-top: 40px">
            <h1 class="heading">{{ page.title }}</h1>
        </div>
        <div class="col-xs-12 col-sm-12 col-lg-12">
            <h2 class="title">{{ page.position }}</h2>
            <br>
            <br>
            {{ content }}
        </div>

        <!--
        <p>
        {% for tool in site.tools %}
        {% if tool.contributors contains page.title %}
        <h3><span class="label label-primary">{{ tool.title }}</span></h3>
        {% endif %}
        {% endfor %}
        </p>
        -->


  <div class="col-xs-12 col-sm-12 col-lg-12">
    <div class="publications">
      <div class="title"><h2 class="title">Latest Papers</h2></div>

      {% assign num = 0 %}
      {% for paper in site.data.papers %}
{% if paper.team contains page.title %}
      {% assign num = num | plus: 1 %}
      {% if num <= 8 %}
      <div class="media">
          <div class="media-left">
            {% if paper.status == "in-press" %}<img class="media-object" src="{{baseurl}}/images/publications/in-press.gif">
            {% else %}<img class="media-object" src="{{baseurl}}/images/publications/{{paper.thumbnail}}">
            {% endif %}
          </div>
          <div class="media-body">
            <h3 class="media-heading"><a href="{{paper.url}}">{{paper.title}}</a></h3>
            <p>{{ paper.authors | join: ", " }}<br>
            {% if paper.status == "in-press" %}<i>{{paper.journal}}</i>, {{paper.year}}. <i>(in press)</i></p>
            {% else %}<i>{{paper.journal}}</i> <b>{{paper.volume}}</b>, {{paper.pages}}, {{paper.year}}.</p>
            {% endif %}
          </div>
        </div>
{% endif %}
{% endif %}
{% endfor %}

      <br>
    </div>
  </div>

  <div class="col-xs-12 col-sm-12 col-lg-12">
    <div class="publications">
      <div class="title"><h2 class="title">Recent Talks and Posters</h2></div>

      <p><ol>
      {% assign num = 0 %}
      {% for talk in site.data.talks %}
{% if talk.speaker == page.title %}
      {% assign num = num | plus: 1 %}
      {% if num <= 5 %}
      {{ talk.date | date: '%b %Y' }} <b>{{ talk.title }}</b>, {{ talk.event }}, {{ talk.place }}<br>
      {% endif %}
{% endif %}
{% endfor %}
</ol>
  </p>

      <br>
    </div>
  </div>





</div>

{% include footer.html %}