---
---
{% include header.html %}

<main>
  <div class="container px-4 py-5">

    <img width="350px" src="{{baseurl}}/images/team/{{page.image}}">
    <h1>{{ page.title }}</h1>
    <h4 class="bclcol1">{{ page.position }}</h2>
    <div class="row">
      <p><a href="mailto:{{page.email}}">{{page.email}}</a></p>
      <div class="row py-3">
        {% if page.title != "Thomas Gorochowski" %}<p><span class="bclcol2"><b>Education:</b></span><br>{{page.education | join: "<br>"}}</p>{% endif %}
        {% if page.twitter != "none" %}<p><span class="bclcol2"><b>Twitter:</b></span> <a href="https://www.twitter.com/{{page.twitter}}">@{{page.twitter}}</a></p>{% endif %}
        {% if page.github != "none" %}<p><span class="bclcol2"><b>GitHub:</b></span> <a href="https://github.com/{{page.github}}">{{page.github}}</a></p>{% endif %}
        <p><span class="bclcol2"><b>Interests:</b></span> {{page.keywords | join: ", "}}</p>
      </div>
    </div>

    <h2 class="pb-2 py-5 border-bottom">Biography</h2>
    <div class="row">
      {{ page.content }}
    </div>

    {% if page.title != "Thomas Gorochowski" %}

      {% assign preprints = false %}
      {% assign publications = false %}
      {% for pub in site.data.publications %}
        {% if pub.status == "pre-print" and pub.team contains page.title %}
          {% assign preprints = true %}
        {% endif %}
        {% if pub.status != "pre-print" and pub.team contains page.title %}
          {% assign publications = true %}
        {% endif %}
      {% endfor %}

      {% if preprints == true %}
        <h2 class="pb-2 py-5 border-bottom">Pre-prints</h2>
        {% for pub in site.data.publications %}
          {% if pub.status == "pre-print" and pub.team contains page.title %}
            <div class="row">
              <p class="publication"><a href="{{pub.url}}"><b>{{pub.title}}</b></a><br>
              {{ pub.authors | join: ", " }}<br>
              <i>{{pub.preprint_journal}}</i>, {{pub.preprint_year}}. (DOI: {{pub.preprint_doi}})
              {% if pub.preprint_doi == "" %}
              {% else %}<br><span style="filter: invert(90%)" class="altmetric-embed" data-hide-no-mentions="true" data-doi="{{pub.preprint_doi}}"></span>
              {% endif %}
              </p>
            </div>
          {% endif %}
        {% endfor %}
      {% endif %}

      {% if publications == true %}
        <h2 class="pb-2 py-5 border-bottom">All publications</h2>
        {% for pub in site.data.publications %}
          {% if pub.status != "pre-print" and pub.team contains page.title  %}
            <div class="row">
              {% if pub.status == "in-press" %}
              <p class="publication"><span class="bclcol5"><b>{{pub.title}}</b></span><br>
              {% else %}<p class="publication"><a href="{{pub.url}}"><b>{{pub.title}}</b></a><br>
              {% endif %}
              {{ pub.authors | join: ", " }}<br>
              {% if pub.status == "online" %}<i>{{pub.journal}}</i>, {{pub.year}}. <i>(online)</i>
              {% elsif pub.status == "accepted" %}<i>{{pub.journal}}</i>, {{pub.year}}. <i>(accepted)</i>
              {% elsif pub.status == "in-press" %}<i>{{pub.journal}}</i>, {{pub.year}}. <i>(in press)</i>
              {% else %}<i>{{pub.journal}}</i> {{pub.volume}}, {{pub.pages}}, {{pub.year}}.
              {% endif %}
              <!-- Notes if they exist
              {% if pub.notes %}
              <ul class="publication-notes ">
                {% for note in pub.notes %}<li>{{note}}</li>{% endfor %}
              </ul>
              {% endif %}-->
              <!-- Altmetric badge -->
              {% if pub.doi == "" %}
              {% else %}<br><span style="filter: invert(90%)" class="altmetric-embed" data-hide-no-mentions="true" data-doi="{{pub.doi}}"></span>
              {% endif %}
              </p>
            </div>
          {% endif %}
        {% endfor %}
      {% endif %}

      {% assign talks = false %}
      {% for talk in site.data.talks %}
        {% if talk.speaker == page.title %}
          {% assign talks = true %}
        {% endif %}
      {% endfor %}

      {% if talks == true %}
        <h2 class="pb-2 py-5 border-bottom">Talks and posters</h2>
        <div class="row px-3">
          <p><ul class="normal-list">
          <!--{% assign num = 0 %}-->
          {% for talk in site.data.talks %}
            {% if talk.speaker == page.title %}
              <!--{% assign num = num | plus: 1 %}
              {% if num <= 5 %}-->
              <li><span class="bclcol3"><b>{{ talk.title }}</b></span>, {{ talk.event }}, {{ talk.place }} ({{ talk.date | date: '%b %Y' }})</li>
              <!--{% endif %}-->
            {% endif %}
          {% endfor %}
          </ul></p>
        </div>
      {% endif %}

    <!-- END FOR LAB MEMBERS -->
    {% endif %}

  </div>
</main>

{% include footer.html %}